
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal Search End -->
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <img src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/slider_1.jpg?1676343869963" alt="" class="img-responsive center-block">
</div>
<!-- Hero End -->
<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container ">
        <div class="row g-4">
            <div class="col-md-6 ">
                <img src="https://bizweb.dktcdn.net/thumb/grande/100/022/044/themes/895031/assets/banner2_1.jpg?1676343869963" alt="">
            </div>
            <div class="col-md-6 ">
                <img src="https://bizweb.dktcdn.net/thumb/grande/100/022/044/themes/895031/assets/banner2_2.jpg?1676343869963" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid favorite-products">
    <h2 class="title">ĐƯỢC ƯA THÍCH NHẤT</h2>
    <div class="products">
        <div class="product">
            <span class="discount">8%</span>
            <img src="https://bizweb.dktcdn.net/thumb/large/100/022/044/products/ruou24.jpg?v=1445851659983" alt="Rượu Remy Martin CLUB">
            <p class="name">Rượu Remy Martin CLUB</p>
            <p class="price">1.230.000đ <span class="old-price">1.340.000đ</span></p>
        </div>
        <div class="product">
            <img src="https://bizweb.dktcdn.net/thumb/large/100/022/044/products/3.png?v=1445851165587" alt="Rượu Luxury Altair Red">
            <p class="name">Rượu Luxury Altair Red</p>
            <p class="price">2.338.000đ</p>
        </div>
        <div class="product">
            <span class="discount">16%</span>
            <img src="https://bizweb.dktcdn.net/thumb/large/100/022/044/products/31.png?v=1445850758393" alt="Rượu Johnnie Walker Blue">
            <p class="name">Rượu Johnnie Walker Blue</p>
            <p class="price">729.000đ <span class="old-price">870.000đ</span></p>
        </div>
        <div class="product">
            <img src="https://bizweb.dktcdn.net/thumb/large/100/022/044/products/19.png?v=1445850433743" alt="Rượu California Muscat">
            <p class="name">Rượu California Muscat</p>
            <p class="price">2.000.000đ</p>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
<!-- Featurs Start -->
<section class="awe-section-4">
    <div class="banner2 hidden-sm hidden-xs">
        <div class="container">
            <div class="row row-8Gutter">
                <div class="col-md-8">
                    <div class="row row-8Gutter">
                        <div class="col-md-6">
                            <div class="banner-item img1">
                                <div class="info">
                                    <span>Rượu vang</span>
                                </div>
                                <a href="#" class="inline-block">
                                    <img class="imageload lazyload loaded" src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_1.jpg?1676343869963" data-src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_1.jpg?1676343869963" alt="Winehourse" data-was-processed="true">
                                </a>
                                <div class="ov1"></div>
                                <div class="ov2"></div>
                                <div class="ov3"></div>
                                <div class="ov4"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item img1">
                                <div class="info">
                                    <span>Rượu vang</span>
                                </div>
                                <a href="#" class="inline-block">
                                    <img class="imageload lazyload loaded" src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_2.jpg?1676343869963" data-src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_2.jpg?1676343869963" alt="Winehourse" data-was-processed="true">

                                </a>
                                <div class="ov1"></div>
                                <div class="ov2"></div>
                                <div class="ov3"></div>
                                <div class="ov4"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item img1">
                                <div class="info">
                                    <span>Rượu vang</span>
                                </div>
                                <a href="#" class="inline-block">
                                    <img class="imageload lazyload loaded" src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_3.jpg?1676343869963" data-src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_3.jpg?1676343869963" alt="Winehourse" data-was-processed="true">
                                </a>
                                <div class="ov1"></div>
                                <div class="ov2"></div>
                                <div class="ov3"></div>
                                <div class="ov4"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner-item img1">
                                <div class="info">
                                    <span>Rượu vang</span>
                                </div>
                                <a href="#" class="inline-block">
                                    <img class="imageload lazyload loaded" src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_4.jpg?1676343869963" data-src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_4.jpg?1676343869963" alt="Winehourse" data-was-processed="true">
                                </a>
                                <div class="ov1"></div>
                                <div class="ov2"></div>
                                <div class="ov3"></div>
                                <div class="ov4"></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="banner-item img1">
                        <div class="info">
                            <span>Rượu vang</span>
                        </div>
                        <a href="#" class="inline-block">
                            <img class="imageload lazyload loaded" src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_5.jpg?1676343869963" data-src="//bizweb.dktcdn.net/100/022/044/themes/895031/assets/banner_5.jpg?1676343869963" alt="Winehourse" data-was-processed="true">
                        </a>
                        <div class="ov1"></div>
                        <div class="ov2"></div>
                        <div class="ov3"></div>
                        <div class="ov4"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Featurs End -->
<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <div class="container">
            <div class="row">
                <!-- Sidebar danh mục -->
                <div class="col-md-3">
                    <div class="category-box">
                        <h4>DANH MỤC BIA</h4>
                        <ul>
                            <li><a href="#">Rượu pha (9)</a></li>
                            <li><a href="#">Rượu ngoại (8)</a></li>
                            <li><a href="#">Rượu tri ân (20)</a></li>
                            <li><a href="#">Rượu Vodka (9)</a></li>
                            <li><a href="#">Giỏ quà biếu (9)</a></li>
                            <li><a href="#">Rượu vang nhập khẩu (9)</a></li>
                            <li><a href="#">Hàng sắp về (9)</a></li>
                            <li><a href="#">Hàng mới về (9)</a></li>
                            <li><a href="#">Sản phẩm bán chạy (9)</a></li>
                            <li><a href="#">Sản phẩm giá ưu đãi (9)</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Sản phẩm -->
                <div class="col-md-9">
                    <h2 class="text-center">SẢN PHẨM BÁN CHẠY</h2>
                    <div class="row">
                        <!-- Sản phẩm 1 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="discount-label">8%</div>
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/ruou24.jpg?v=1445851659983" alt="Rượu Remy Martin CLUB">
                                <h5>Rượu Remy Martin CLUB</h5>
                                <p class="price">1.230.000₫ <span class="old-price">1.340.000₫</span></p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Sản phẩm 2 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/3.png?v=1445851165587" alt="Rượu Luxury Altair Red">
                                <h5>Rượu Luxury Altair Red</h5>
                                <p class="price">2.338.000₫</p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Sản phẩm 3 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="discount-label">16%</div>
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/31.png?v=1445850758393" alt="Rượu Johnnie Walker Blue">
                                <h5>Rượu Johnnie Walker Blue</h5>
                                <p class="price">729.000₫ <span class="old-price">870.000₫</span></p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->
<!-- Banner Section Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <div class="container">
            <div class="row">
                <!-- Sidebar danh mục -->
                <div class="col-md-3">
                    <div class="category-box">
                        <h4>DANH MỤC BIA</h4>
                        <ul>
                            <li><a href="#">Rượu pha (9)</a></li>
                            <li><a href="#">Rượu ngoại (8)</a></li>
                            <li><a href="#">Rượu tri ân (20)</a></li>
                            <li><a href="#">Rượu Vodka (9)</a></li>
                            <li><a href="#">Giỏ quà biếu (9)</a></li>
                            <li><a href="#">Rượu vang nhập khẩu (9)</a></li>
                            <li><a href="#">Hàng sắp về (9)</a></li>
                            <li><a href="#">Hàng mới về (9)</a></li>
                            <li><a href="#">Sản phẩm bán chạy (9)</a></li>
                            <li><a href="#">Sản phẩm giá ưu đãi (9)</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Sản phẩm -->
                <div class="col-md-9">
                    <h2 class="text-center">SẢN PHẨM HOT NHẤT HÔM NAY</h2>
                    <div class="row">
                        <!-- Sản phẩm 1 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="discount-label">8%</div>
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/ruou24.jpg?v=1445851659983" alt="Rượu Remy Martin CLUB">
                                <h5>Rượu Remy Martin CLUB</h5>
                                <p class="price">1.230.000₫ <span class="old-price">1.340.000₫</span></p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Sản phẩm 2 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/3.png?v=1445851165587" alt="Rượu Luxury Altair Red">
                                <h5>Rượu Luxury Altair Red</h5>
                                <p class="price">2.338.000₫</p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Sản phẩm 3 -->
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="discount-label">16%</div>
                                <img src="https://bizweb.dktcdn.net/thumb/medium/100/022/044/products/31.png?v=1445850758393" alt="Rượu Johnnie Walker Blue">
                                <h5>Rượu Johnnie Walker Blue</h5>
                                <p class="price">729.000₫ <span class="old-price">870.000₫</span></p>
                                <div>
                                    <input type="hidden" name="variantId" value="">
                                    <button class="btn-buy btn-cart btn btn-primary left-to add_to_cart " title="Cho vào giỏ hàng">
                                        <span>
                                            <!--<i class="fa fa-cart-plus" aria-hidden="true"></i>-->
                                            Mua hàng
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<div class="section-brand">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand1.jpg?1676343869963" alt="Brand 1"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand2.jpg?1676343869963" alt="Brand 2"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand3.jpg?1676343869963" alt="Brand 3"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand4.jpg?1676343869963" alt="Brand 4"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand5.jpg?1676343869963" alt="Brand 5"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand6.jpg?1676343869963" alt="Brand 6"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand7.jpg?1676343869963" alt="Brand 7"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand8.jpg?1676343869963" alt="Brand 8"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand9.jpg?1676343869963" alt="Brand 9"></div>
                <div class="swiper-slide"><img src="//bizweb.dktcdn.net/thumb/medium/100/022/044/themes/895031/assets/brand10.jpg?1676343869963" alt="Brand 10"></div>
            </div>


            <!-- Thanh chỉ số trang -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>


